*{
    box-sizing: border-box;
    font-size: 11px;
    
}
body {
    background-color: #fffaf0;
}


div {
    border: 1px solid darkgrey;
}

h1{
    font-size: 16px;
    font-family: monospace;
    color: forestgreen;
}

p {
    
}
