* {
    box-sizing: border-box;
    font-size: 35px;
    font-weight: lighter;
    font-family: monospace;
    color: black;

}

body {
    background-color: #fffaf0;
}


div {
    border: 1px solid darkgrey;
}

h1 {
    font-size: 28px;
    color: forestgreen;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: left;
    border-bottom: 3px dashed white;

}

a {
    display: block;
    padding: 10px;
    text-decoration: none;
}
a.visited {
    text-decoration: none;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#nav-bar {
    width: auto;
    position: fixed;
}

#nav-container {
    margin: auto;
}
